@CHARSET "UTF-8";

.form-login {
	margin-top: 60px;
}

form {
	color: #5d5d5d;
	background: #f2f2f2;
	padding: 26px;
	border-radius: 10px;
}

form img {
	display: block;
	margin: 0 auto;
	margin-bottom: 35px;
}

form input, form button {
	margin: 16px 0;
}

form > div {
	text-align: center;
}
.spacebottom {
	margin-bottom: 35px;
}
.logo img{
	width: 110px;
}
.produto img{
	width: 300px;
}

.produto{
	height: 280px;
}

.produto img{
	width: 180px;
}
.form-solicitar {
	width: 200px;
}
.limg{
	width: 90px;
	height: 80px;
}
.center {
	margin-top: 50px;
	text-align: center;
}
.thumbnail-height {
	height: 270px;
}